body{
    margin: 0px;
}

canvas{
    width: 100%;
    height: 100%;
    display: block;
    /* background: url('https://threejsfundamentals.org/threejs/resources/images/daikanyama.jpg') no-repeat center center ; */
    background-size: cover;
}